<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.weiweihuanghuang.ShowDistanceAndAngleInCorner</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowDistanceAndAngleInCorner</string>
	<key>CFBundleVersion</key>
	<string>7</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.2</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/weiweihuanghuang/Show-Distance-And-Angle-Of-Nodes-In-Corner/master/ShowDistanceAndAngleOfNodesInCorner.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/weiweihuanghuang/Show-Distance-And-Angle-Of-Nodes-In-Corner</string>
	<key>productReleaseNotes</key>
	<string>New binary for M1 compatibility</string>
	<key>NSHumanReadableCopyright</key>
	<string>Forked by Wei Huang, based on code by Mark Frömberg (@mark2mark), 2015</string>
	<key>NSPrincipalClass</key>
	<string>ShowDistanceAndAngleInCorner</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
